.App {
  text-align: center;  
  
background: linear-gradient(to right, #ffa751, #ffe259);
}
html{
background: linear-gradient(to right, #ffa751, #ffe259);
}
nav a {
  color: #000;
  display: inline-block;
  margin: 0 10px;
}
nav a:hover {
  text-decoration: none;
}